<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SqlServer" connectionString="Server=(local);Initial Catalog=UpgraderTest;Integrated Security=true;Encrypt=false" />
    <add name="MySql" connectionString="Server=localhost;Database=UpgraderTest;Uid=root;Pwd=root;" />
    <add name="PostgreSql" connectionString="Host=localhost;Port=5433;Database=UpgraderTest;User ID=postgres;Password=test;" />
    <add name="PostgreSqlEnlist" connectionString="Host=localhost;Port=5433;Database=UpgraderTest;User ID=postgres;Password=test;Enlist=true" />
    <add name="SqLite" connectionString="Data Source=UpgraderTest;Version=3;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
