<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SqlServer" connectionString="Server=(local);Initial Catalog=UpgraderTest;Integrated Security=true;"/>
    <add name="MySql" connectionString="Server=localhost;Database=UpgraderTest;Uid=root;Pwd=root;"/>
    <add name="PostgreSql" connectionString="Host=localhost;Port=5432;Database=UpgraderTest;User ID=postgres;Password=postgres;"/>
    <add name="SqLite" connectionString="Data Source=UpgraderTest;Version=3;"/>
  </connectionStrings>
</configuration>